.successContainer {
  display: grid;
  /* place-content: center; */
  align-content: center;
  justify-items: center;
  gap: 2rem;
  /* background-color: antiquewhite; */

  > h3 {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.21875rem;
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-3);
  }

  /* > a {
    background-color: var(--very-dark-violet);
    font-weight: unset;
    color: var(--white);
    text-shadow: unset;
    outline-offset: unset;
    font-size: 1.125rem;
    font-weight: var(--font-weight-5);
    outline-color: var(--very-dark-violet);
    border: none;
    text-decoration: none;
    inline-size: min(380px, 100%);
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: var(--radius-2);
    align-items: center;
    justify-content: center;
  } */

  & button {
    inline-size: min(380px, 100%);
  }

  @media (--md-n-above) {
    justify-content: stretch;
    inline-size: min(380px, 100%);
    /* background-color: antiquewhite; */
    margin-inline-start: 104px;
  }
}
